*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-size: large;
}

body::-webkit-scrollbar{
    display: none;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
}

nav ul li a, nav ul{
    color: aliceblue;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a:hover{
    color: transparent;
    text-decoration: wavy;
    transition: .15s;
}

nav ul li a:active{
    background-color: rgb(53, 71, 230);
}

.contact{
    border: groove;
    border-radius: 10px;
    border-width: thin;
    padding: 5px;
    margin-top: -5px;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.bar{
    color: #fff;
    background: blue ;
    height: 20rem;
}

.bar h2{
    padding: 90px 30px;
    font-size: 35px;
}

svg{
    margin-top: -12.3rem;
}

#form, .location{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#form {
    gap: 1rem;
}

#form input, textarea{
    width: 24rem;
    border: solid rgb(114, 117, 118);
    border-radius: 10px;
}

#form input, #btn{
    padding: 15px;
    width: 24rem;
}

textarea{
    padding: 10px;
    height: 100px;
}

.location h2{
    margin-top: 50px;
    font-size: 25px;
}

#btn{
    background: rgb(148, 4, 170);
    border-radius: 40px;
}

.location, .nine, .footer{
    padding: 20px 50px;
}

.location{
    text-align: left;
}

.footer{
    color: #fff;
    background-color: rgb(7, 5, 39);
    display: flex;
    justify-content: space-between;
    border-top: solid rgb(102, 100, 100) thin;
}

.footer ul{
    gap: 20px;
}

.quicklink ul{
    display: flex;
    list-style: none;
}

iframe{
    width: 100%;
    padding: 10px 30px;
}

.nine p{
    text-align: center;
    padding: 35px;
}

.nine, .footer{
    color: #fff;
    background-color: rgb(25, 33, 49);
}


.social{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 2rem;
}

.social i{
    font-size: x-large;
    color: antiquewhite;
}

.tog{
    display: none;
}

@media (max-width: 960px) {
    #brand img{
        width: 15rem;
    }

    nav ul{
        display: none;
    }


    #form input, textarea{
        width: 20rem;
        border: solid rgb(114, 117, 118);
        border-radius: 10px;
    }
    
    #form input, #btn{
        padding: 15px;
        width: 20rem;
    }

    .quicklink ul{
        display: flex;
        gap: 4px;
        justify-content: center;
    }
    
    .footer{
        text-align: center;
        display: block;
        gap: 40px;
        font-size: 15px;
    }

    .tog{
        display: flex;
        margin-right: -15%;
        font-size: 40px;
        margin-top: -3px;
    }
    
    nav ul{
        display: none;
        top: 3.4rem;
        position: absolute;
        right: 0.3px;
        text-align: center;
        font-weight: bolder;
        color: #fff;
        padding: 40px 30px 40px 30px;
        width: 100%;
        background-color: rgb(39, 107, 107);
    }
    
}