*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: white;
    padding: 20px;
    position: fixed;
}

.bod{
    padding-top: 4em;
}

nav ul li a, nav ul{
    color: aliceblue;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
}

.contact{
    border: groove;
    border-radius: 10px;
    border-width: thin;
    padding: 5px;
    margin-top: -5px;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.newsletter{
    text-align: left;
    width: 29rem;
    font-size: 25px;
}

.newsletter h2{
    font-size: 65px;
}

.onee{
    align-items: center;
    text-align: center;
    display: flex;
    gap: 30px;
    padding: 20px;
    background:scroll, rgb(8, 0, 255);
    justify-content: center;
    gap: 9rem;
    color: white;
    padding-bottom: 10rem;
}

.hoo{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hoo input{
    padding: 20px;
    border-radius:40px;
    outline: none;
    border: none;
}

.hoo p a{
    background-color: rgb(161, 6, 81);
    border: none;
    text-align: center;
    padding: 10px 18px;
    border-radius: 25px;
}

.one{
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.two{
    background-color: rgb(237, 243, 243);
    justify-content: center;
    font-size: x-large;
    gap: 3rem;
    padding: 35px 10px;
}

.fa-user{
    color: rgb(165, 68, 174);
}

.fa{
    padding-top: 1rem;
}

.fa-rocket{
    color: rgb(4, 152, 152);
}

.fa-dollar{
    color: rgb(165, 68, 174);
}

#mo, #go{
    color: rgb(60, 59, 58);
    margin-top: 2rem;
    padding-left: 3rem;
}

#lo{
    color: rgb(60, 59, 58);
    margin-top: 2rem;
    padding-left: 4rem;
}

.ifgk{
    display: flex;
    gap: 20px;
}

.ifgk h4{
    font-size: x-large;
    padding-top: 15px;
}

.three{
    gap: 3rem;
    font-size: 22px;
    padding-bottom: 100px;
}

.three p{
    width: 30rem;
}

.fk, .ok{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    color: rgb(53, 57, 57);
}

.partnerships{
    color: white;
    background: purple;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
}

.four{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

.four p{
    margin-top: 20px;
}

.five{
    gap: 3rem;
    padding-bottom: 4rem;
}

.five p{
    width: 30rem;
    font-size: 20px;
}

#learn{
    padding: 15px;
    background-color: rgb(126, 4, 67);
    width: fit-content;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}

.even{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.seven{
    text-align: center;
}

.even img{
    width: 9rem;
    border-radius: 100%;
}

.seven p{
    width: 20rem;
    font-size: x-large;
    font-style: italic;
    color: rgb(85, 84, 82);
}

.name p{
    font-weight: bolder;
    font-size: large;
    margin-top: 10px;
}

.eight{
    gap: 3rem;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding-bottom: 2rem;
}

.eight h4{
    font-size: xx-large;
}

.eight p{
    margin-top: 1rem;
}

.in{
    display: flex;
    margin-top: 20px;
}

.in input{
    width: 20rem;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    color: rgb(69, 67, 65);
    border-radius: 5px;
}

.in p{
    background-color: rgb(205, 62, 205);
    margin-top: 0%;
    padding: 10px;
    border-radius: 5px;
}

.eight, .even, .five, .three, .two{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nine{
    background-color: rgb(25, 33, 49);
}

.nine p{
    padding: 30px 450px;
    text-align: center;
    color: white;
    width: 100%;
}

.te{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    font-size: 20px;
}

.four{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    padding: 30px;
}

.social{
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 2rem;
}

.social i{
    font-size: x-large;
    color: antiquewhite;
}
svg{
    margin-top: -255rem;
}





.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(25, 33, 49);
    padding: 1rem;
    border-top: solid thin white;
    font-size: larger;
}

.footer p{
    color: white;
    font-size: larger;
}

.quicklink ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}

.tog{
    display: none;
}

@media (max-width: 960px) {
    .onee, .two, .three, .four, .five, .even, .te, .ok, .eight{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    img{
        width: 100%;
        padding-right: 10px;
    }
    
    .hoo{
        display: flex;
        gap: 30px;
    }

    .tog{
        display: flex;
        margin-right: 0%;
        font-size: 40px;
        margin-top: -20px;
    }

    .newsletter{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .hoo input{
        width: 70%;
    }

    .ok h3,.ok p, .fk p, .tx p, .tx h4{
        width: 100%;
        padding: 0 20px;
    }

    .tx #learn{
        margin-left: 20px;
    }

    .ok .partnerships{
        width: fit-content;
        /* padding: 20px; */
    }

    #brand img{
        width: 70%;
    }

    .seven{
        padding: 17px;
    }

    .eight{
        margin-top: 6rem;
    }

    .eight img{
        margin-top: -90px;
        width: 100%;
        padding-right: 10px;
    }

    #menu{
        display: none;
    }

    .in{
        display: flex;
        width: 100%;
    }

    .nine p{
        padding: 10px 5rem;
    }

    .quicklink ul{
        display: flex;
        gap: 4px;
        justify-content: center;
    }
    
    .footer{
        text-align: center;
        display: block;
        gap: 40px;
        font-size: 15px;
    }
    

    #menu {
        display: none;
        top: 3.4rem;
        position: absolute;
        right: 0.3px;
        text-align: center;
        font-weight: bolder;
        color: #fff;
        padding: 30px;
        width: 100%;
        background-color: rgb(39, 107, 107);
    } 

    .five img, .three img{
        width: 100%;
        padding: 2px 15px;
    }

}

